The contribution of sweeps to mean trait value.

This notebook requires that StandingVsNew be run, as we'll need its 'pickled' outputs...

In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math
import glob
import pickle

/usr/local/lib/python2.7/dist-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
ff=glob.glob('../*.popstats.h5')

In [3]:
RESULTS90=[]
RESULTS100=[]

for i in ff[:1]:
    fn=i
    i=i.strip('../')
    i=i.strip('.popstats.h5')
    i=i.split('_')
    parms=dict(zip(i[0::2],i[1::2]))
    print parms
    OPT=float(parms['OPT'])
    print OPT
    x=pd.read_hdf(fn)
    x=x[x.stat=='tbar']
    x.reset_index(inplace=True)

    x['Opt']=[OPT]*len(x.index)
    print x.head()
    IDX=x[(x.value >= 0.95*OPT)].index.tolist()
    print IDX[:10]
    xx=x.iloc[IDX]

    RESULTS90.append(xx.groupby('rep').min())
    
    IDX=x[(x.value >= OPT)].index.tolist()
    xx=x.iloc[IDX]
    RESULTS100.append(xx.groupby('rep').min())

{'H2': '0.2', 'OPT': '0.5', 'mu': '0.001'}
0.5
   index  generation  stat     value  rep  Opt
0      8           1  tbar  0.000951    0  0.5
1     18           2  tbar -0.001216    0  0.5
2     28           3  tbar  0.004676    0  0.5
3     38           4  tbar  0.003865    0  0.5
4     48           5  tbar  0.004666    0  0.5
[640223, 640226, 640427, 640429, 640430, 640431, 640432, 640524, 640525, 640528]

In [4]:
len(RESULTS90)

1

In [5]:
RESULTS90[0][:10]

     index  generation  stat     value  Opt
rep
0     2238       10223  tbar  0.475146  0.5
1      938       10093  tbar  0.475002  0.5
2      958       10095  tbar  0.475009  0.5
3      938       10093  tbar  0.475007  0.5
4     1318       10131  tbar  0.475054  0.5
5     1298       10129  tbar  0.475030  0.5
6     1208       10120  tbar  0.475009  0.5
7      878       10087  tbar  0.475002  0.5
8     2128       10212  tbar  0.475152  0.5
9     3668       10366  tbar  0.475012  0.5

In [6]:
pfile=open('params.pickle','r')
params=pickle.load(pfile)

In [7]:
params

[{'H2': '0.2', 'OPT': '1', 'mu': '0.001'},
 {'H2': '0.2', 'OPT': '0.5', 'mu': '0.001'}]

In [21]:
pfile.close()
pfile=open('outcomes.pickle','r')
outcomes=pickle.load(pfile)
pfile.close()

In [22]:
RESULTS90[0]['total_standing']=outcomes[1]['standing']

In [23]:
RESULTS90[0].head()

     index  generation  stat     value  Opt  standing  total_standing
rep
0     2238       10223  tbar  0.475146  0.5         2               2
1      938       10093  tbar  0.475002  0.5         0               0
2      958       10095  tbar  0.475009  0.5         1               1
3      938       10093  tbar  0.475007  0.5         2               2
4     1318       10131  tbar  0.475054  0.5         1               1

In [25]:
pd.DataFrame(outcomes[1]['standing_ftimes']).reset_index('rep').head()

   index    ftime  rep
0      0  13259.0  0.0
1      1  10249.0  0.0
2      2  11558.0  2.0
3      3  10514.0  3.0
4      4  14516.0  3.0

In [26]:
pd.DataFrame(outcomes[1]['new_ftimes']).reset_index('rep').head()

   index     flen  rep
0      0  19687.0  0.0
1      1  11057.0  0.0
2      2  11102.0  1.0
3      3  12306.0  1.0
4      4  10428.0  2.0